*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    color: #fff;
    text-shadow: 0.1em 0.1em #333;
    font-size: 17px;
}

a:hover{
    color: #B5B7B8;
}

.padre{
    display: flex;
    flex-flow: column nowrap;
}
.margen-interno{
    padding: 0 50px;
}
.header{
    background: url("/static/imagenes/bg-2.jpg") 50% 0 no-repeat fixed;
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}
.menu{
    background: rgba(0, 0, 0, .1);
    display: flex;
    flex-flow: row nowrap;
    height: 75px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 35);
}
.logo{
    
    flex: 1 1 auto;
}
.logo img{
    padding-left: 10px;
}
.nav{
    
    flex: 5 1 auto;
    
}

.nav a{
    text-transform: uppercase;
    padding: 0 20px;
    letter-spacing: 2px;
    font-size: 15px;
}

.social{
    
    flex: 1 1 auto;
    display: flex;
    
}

.social a{
    padding: 0 5px;
}

.texto-principal{
    /*background: #f07b3f;*/
    height: 580px;
    display: flex;
    align-items: center;
    text-shadow: 0.1em 0.1em #333;
}
h1{
    font-family: 'Lora', serif;
    font-size: 21px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    line-height: 1.6;
}
.section{
    background: #f7f7f7;
    display: flex;
}
.descripcion{
    background: #f7f7f7;
    display: flex-end;
}
.departamento{
    background: #f7f7f7;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}
.vdepartamento{
    background: #f7f7f7;
    flex-flow: row wrap;
}
.article{
    flex: 1 1 40%;
    color: #444;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 10px 10px 0 0px;
    flex: 1 1 45%;
    background: #ececec ;
}
.article a{
    color: #fff;
    font-size: 13px;
    padding: 10px;
    background: #000;
    margin: 10px 0;
    display: inline-block;
}
.article a:hover{
    background: #444;
}
.article img{
    width: 100%;
}
h3{
    color: #fff;
    font-size: 13px;
    padding: 10px 0;
    margin-top: -80px;
    text-shadow: 0.1em 0.1em #333;

}
h2{
    font-size: 25px;
    text-transform: uppercase;
    padding: 0px 0 10px 0;
    color: #fff;
    text-shadow: 0.1em 0.1em #333;
}
.navegacion{
    background: #000;
    flex: 1 1 100%;
    margin: 10px 10px 0 0px;
}
.navegacion a{
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
}
.aside{
    flex: 1 1 auto;
    margin: 10px 5px 10px 0;
}
.aside img{
    width: 300px;
    height: 250px;

}
h4{
    background: #000;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}


.footer{
    background: #000;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.pie{
    text-align: center;
    
    
}
.pie a{
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 10px;
}

#carrusel {
    float:left;
    width:700px;
    overflow:hidden;
    height:300px;
    position:relative;
    margin-top:20px;
    margin-bottom:20px;
}
 
#carrusel .left-arrow {
    position:absolute;
    left:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}
 
#carrusel .right-arrow {
    position:absolute;
    right:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}
 
.carrusel {
    width:4000px;
    left:0px;
    position:absolute;
    z-index:0;
}
 
.carrusel>div {
    float: left;
    height: 250px;
    margin-right: 5px;
    width: 300px;
    text-align:center;
}
 
.carrusel img {
    cursor:pointer;
}

#article {
    color: #444;
    padding: 10px;
    background: #ececec;
    margin: 10px 0;
    display: inline-block; 
    margin-bottom: 80px;
}
 
#rightD {
    text-align: right;
}

.boton{
    border: 1px solid #2e518b; 
    padding: 10px; 
    background-color: #2e518b; 
    color: #ffffff; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 50px;
}

@media all and (max-width: 1120px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
    .social a{
    
        flex: 1 1 auto;
        display: flex;
        margin-top: 10px;       
    }
    h1{
        font-size: 15px;
    }
    .texto-principal{
        height: 450px;
    }
    
}
@media all and (max-width: 762px){
    .departamento{
        flex-direction: column;
    }
    .aside{
        flex-direction: column;
    }
    .aside img{
        width: 100%
    }
    #rightD{
        text-align: center;
    }
    #carrusel {
        width:590px;
        height:300px;
        margin-top:10px;
        margin-bottom:10px;
    }
}
@media all and (max-width: 650px){
    .aside{
        flex-direction: column;
    }
    
}