{% load static %}
<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Turismo Real</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
        <link type='text/css' href='{%static "css/style.css"%}' rel='stylesheet'/>
        
    </head>
    <body>
        <div class="padre">
            <header class="header ">
                <div class="menu margen-interno">
                    <div class="logo">
                        <a href="index"><img src='{%static "imagenes/logo.png"%}' alt="logo" width="70px" height="70px"></a>
                    </div>
                    <div class="nav">
                        <a href="index">Inicio</a>
                        <a href="contacto">Contacto</a>
                        <a href="index">Quiénes Somos</a>
                    </div>
                    <div class="logout">
                        <a href="#" id="show-logout">Cerrar Sesión</a>
                    </div>
                    
                </div>
            </header>
            <section class="section2 margen-interno">
                <div class="departamento2">
                    <article class="article2">
                        <img src='{%static "imagenes/reserva.jpg"%}' alt="reserva" width="500px" height="281px">
                        <h3></h3>
                        <h2>Módulo Reservas</h2>
                        <br>
                        <br>
                        <p>En este módulo puedes ver todo sobre tus reservas</p>
                        <br>
                        <br>
                        <a href="cancelar reserva">Ver Reservas</a>
                    </article>
                    <article class="article2">
                        <img src='{%static "imagenes/datos.jpg"%}' alt="datos" width="500px" height="281px">
                        <h3></h3>
                        <h2>Datos</h2>
                        <br>
                        <br>
                        <p>En este módulo puedes actualizar la información de tus datos personales.</p>
                        <br>
                        <br>
                        <a href="modificar usuario">Ver Datos</a>
                    </article>
                  
                </div>
                <aside class="aside">
                    <div class="nose">
                        <h4>Información</h4>
                        <p>Nombre: Usuario Cliente</p>
                        <p>Correo: usuario.cliente@gmail.com</p>
                        <p>Contacto: +56912324224</p>
                    </div>
                    
                </aside>
            </section>
            <footer class="footer margen-interno">
                <nav class="pie">
                    <a href="#">Desarrollado por Nadie</a>
                </nav>
            </footer>
        </div>
        {% if messages %}
            {% for message in messages %}
                <script>
                    const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                    })

                    Toast.fire({
                    icon: 'success',
                    title: '{{message}}'
                    })
                        
                </script>
            {% endfor %}
        {% endif %}
        <script src="{% static 'js/app.js' %}"></script>   
    </body>
</html>
