{% load static %}
<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Turismo Real - Departamento</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=0, maximum-scale=0, minimum-scale=0">
        <link type='text/css' href='{%static "css/style.css"%}' rel='stylesheet'/>
    </head>
    <body bgcolor="#eebd1b"> 
        <header class="header">
            <div class="menu">
                <div class="logo"></div>
                <div class="nav"></div>
                <div class="social"></div>
            </div>
            <div class="texto-principal">
                <h1>asd</h1>
            </div>
        </header>
        <div class="padre">
            <section class="section">
                <div class="departamento">
                    <article style="background: #1f6cb0; display: 1 1 40%; width: 800px; height: 500px;"></article>
                    <nav style="background: #70a3c4; display: 1 1 40%; width: 600px; height: 80px; margin-left: 100px;"></nav>
                </div>
                <aside class="aside">
                    <div style='text-align: right; background: #70a3c4; width: 170px;'>100 M2</div>
                    <div style='text-align: right; background: #70a3c4;'>Santiago Centro</div>
                    <div style='text-align: right; background: #70a3c4;'>$1.000.000</div>
                    <div> cantidad de residentes<input type="number" id="persons" min="1" max="15" value="1" style="margin-left: 46px;"></div>
                    <a style="cursor: pointer; background-color: aqua; display: inline-block; text-align: center;">Realizar reserva</a>
                     
                </aside>  
            </section>
            <div style="background-color: azure;">
                <h1 style="background-color: transparent;">Descripcion</h1>
                <label>
                    afajgfjaskgflasgfkasgfkasgfkjagsf
                    asfgkasjfgkasjfgkasjgfkasjgfkasjgfkjasg 
                </label>
            </div>
            <footer class="footer">
                <nav class="pie"></nav>
            </footer>
        </div>
        
    </body>
</html>