{% load static %}
<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Turismo Real</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
        <link type='text/css' href='{%static "css/style.css"%}' rel='stylesheet'/>
    </head>
    <body>
        <div class="padre">
            <header class="header ">
                <div class="menu margen-interno">
                    <div class="logo">
                        <a href=""><img src='{%static "imagenes/logo.png"%}' alt="logo" width="70px" height="70px"></a>
                    </div>
                    <div class="nav">
                        <a href="#">Inicio</a>
                        <a href="#">Inicio</a>
                        <a href="#">Inicio</a>
                    </div>
                    <div class="social">
                        <div><a href="#">Login</a></div>
                    </div>
                </div>
                <div class="texto-principal margen-interno">
                    <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima a magnam placeat, perspiciatis, quis distinctio quam ex dolorum accusamus illo rerum ea quasi debitis repudiandae nam sed modi quia quas suscipit, expedita inventore totam. Accusantium in, repellendus distinctio dolores nobis eligendi! Eveniet nesciunt officiis est sit quasi quas eum ea.</h1>
                </div>
                
            </header>
            <section class="section margen-interno">
                <div class="departamento">
                    <article class="article">
                        <img src='{%static "imagenes/departamento.jpg"%}' alt="departamento" width="500px" height="281px">
                        <h3>21 de Octubre 2021</h3>
                        <h2>Departamento Santa Lucía</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem aliquid nihil quia dicta, non ipsam incidunt, blanditiis illum dolores qui quas suscipit? Fuga nesciunt dicta labore cum voluptas cupiditate doloribus?</p>
                        <a href="#">Ver Departamento</a>
                    </article>
                    <article class="article">
                        <img src='{%static "imagenes/departamento.jpg"%}' alt="departamento" width="500px" height="281px">
                        <h3>21 de Octubre 2021</h3>
                        <h2>Departamento Santa Lucía</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem aliquid nihil quia dicta, non ipsam incidunt, blanditiis illum dolores qui quas suscipit? Fuga nesciunt dicta labore cum voluptas cupiditate doloribus?</p>
                        <a href="#">Ver Departamento</a>
                    </article>
                    <article class="article">
                        <img src='{%static "imagenes/departamento.jpg"%}' alt="departamento" width="500px" height="281px">
                        <h3>21 de Octubre 2021</h3>
                        <h2>Departamento Santa Lucía</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem aliquid nihil quia dicta, non ipsam incidunt, blanditiis illum dolores qui quas suscipit? Fuga nesciunt dicta labore cum voluptas cupiditate doloribus?</p>
                        <a href="#">Ver Departamento</a>
                    </article>
                    <article class="article">
                        <img src='{%static "imagenes/departamento.jpg"%}' alt="departamento" width="500px" height="281px">
                        <h3>21 de Octubre 2021</h3>
                        <h2>Departamento Santa Lucía</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem aliquid nihil quia dicta, non ipsam incidunt, blanditiis illum dolores qui quas suscipit? Fuga nesciunt dicta labore cum voluptas cupiditate doloribus?</p>
                        <a href="#">Ver Departamento</a>
                    </article>
                    <nav class="navegacion">
                        <a href="#">Inicio</a>
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">Final</a>
                    </nav>
                </div>
                <aside class="aside">
                    <div class="nose">
                        <h4>Publicidad</h4>
                        <img src='{%static "imagenes/departamento.jpg"%}' alt="departamento">
                    </div>
                    <div class="nose">
                        <h4>Publicidad</h4>
                        <img src='{%static "imagenes/departamento.jpg"%}' alt="departamento">
                    </div>
                    <div class="nose">
                        <h4>Publicidad</h4>
                        <img src='{%static "imagenes/departamento.jpg"%}' alt="departamento">
                    </div>
                </aside>
            </section>
            <footer class="footer margen-interno">
                <nav class="pie">
                    <a href="#">Desarrollado por Nadie</a>
                </nav>
            </footer>
        </div>
    </body>
</html>